


 <div class="row">
                 <div class="col-md-4" style="width: 30%;">
                <h4>Suggestions & Requests</h4>
            <p>Is there anything you require? Please submit your requests here and let us know how we can serve you better</p>
                 </div>
                  <div class="col-md-8">
                    <form id="feedbackData" name="feedbackData" #feedbackData="ngForm" (ngSubmit)="feedbackData.valid && addFeedback(feedbackData)">
            <div class="col-md-12">
                <div class="form-group section-head contact-form">

                
                    <textarea id="form_message" name="message" class="form-control" placeholder="Your Message here*" rows="4"  cols="20" required="required" data-error="Please,leave us a message." [pattern]="textpattern" ngModel #message="ngModel" align="BOTTOM" style="border-bottom: 1px solid #000;"></textarea>
                    <div class="help-block with-errors"></div>
                    <input type="submit" class="btn btn-send button" (click)="open()" value="Send message">
                </div>
            </div>
  </form>
                 </div>
           </div>
  
