<div class="menuResize text-center">
  <app-menu></app-menu>
  <h2>Employee List</h2>
</div>
<div class="container" >
<div class="row">
  <div class="col-md-10">
 <table class=" table table-bordered autowidth">
       <thead class="blue-grey lighten-4">
         <tr>
         <th>
  Name
  </th>
   <th>
  Email
  </th>
  <th>
  Mobile
  </th>
  <th>
  Status
  </th>
  <th>
  Role
  </th>
      </tr>
       </thead>
       <tbody>
      <tr *ngFor="let item of employeeList; let i = index">
        <td>
 {{ item.name }}
        </td>
         <td>
 {{ item.email }}
        </td>
         <td>
 {{ item.mobile }}
        </td>
         <td>
           <span *ngIf="item.status"> Yes </span>
           <span *ngIf="!item.status"> No </span>
        </td>
        <td>
 {{ item.role }}
        </td>
        </tr>
       </tbody></table>

</div></div>
</div>