<div class="menuResize text-center">
  <app-menu></app-menu>
  <h2>Co working Office Registration</h2>
  
</div>
<div class="container">
<div class="row">
  <div class="col-md-10">
 <form id="formNewUser" name="formNewUser" #userData="ngForm" (ngSubmit)="userData.valid && addNewUser(userData)">
  <div class="form-group">
    <label>Office Name:</label><input type="text" class="form-control" name="OfficeName" id="OfficeName" placeholder="Office Name" maxlength="20" required [pattern]="textpattern" ngModel #OfficeName="ngModel"></div>
    <div *ngIf="OfficeName.errors"> 
      <div [hidden]="!(OfficeName.errors.required) || OfficeName.pristine" class="alert alert-danger"> 
        OfficeName required.
      </div>		   
      <div [hidden]="!(OfficeName.errors.pattern)|| OfficeName.pristine" class="alert alert-danger"> 
        OfficeName not valid.
      </div>	
      </div> 
   <div class="form-group">
    <label>Description:</label><textarea rows="4" cols="50" class="form-control" name="Description" id="Description" placeholder="Description" required [pattern]="textpattern" ngModel #Description ="ngModel"></textarea>
    <!--<div *ngIf="OfficeName.errors"> 
      <div [hidden]="!(OfficeName.errors.required) || OfficeName.pristine" class="alert alert-danger"> 
        OfficeName required.
      </div>		   
      <div [hidden]="!(OfficeName.errors.pattern)|| OfficeName.pristine" class="alert alert-danger"> 
        OfficeName not valid.
      </div>	-->
      </div> 
  <div class="form-group">
    <label>Address:</label><input type="text" class="form-control" name="Address" id="Address" placeholder="Address" maxlength="20" required  ngModel #Address="ngModel"></div>
    <div *ngIf="Address.errors"> 
      <div [hidden]="!(Address.errors.required) || Address.pristine" class="alert alert-danger"> 
        Address required.
      </div>		   
      </div> 
  
      <div class="form-group">
          <label>City:</label>
          <select (change)="updateLocations(City.value)" class="form-control" name="City" id="City" ngModel #City="ngModel">
              <option [value]="null">-- select --</option> 
            <option *ngFor="let item of cities; let i = index" value="{{ item.id }}">{{ item.city }}</option>
             </select>
            </div> 
      <div class="form-group">
          <label>Location:</label>
          <select  class="form-control" name="Location" id="Location" ngModel #Location="ngModel">
             <option [value]="null">-- select --</option>
              <option *ngFor="let item of loctaionsByCity; let i = index" value="{{ item.id }}" >{{ item.location }}</option>
             </select>
          
    </div> 

    <div class="form-group">
      <label>Types of seats:</label>
      <select  name="typesOfSeats" id="typesOfSeats" ngModel>
        <option value="Openworkstation">Open workstation</option>
        <option value="PrivateCabin">Private Cabin</option>
        <option value="Semi-privateCabin">Semi-private cabin</option>
        <option value="ManagerialCabin">Managerial Cabin</option>
      </select>
        <label>Number of seats:</label><input type="text" name="Numberofseats" id="Numberofseats" maxlength="20" required ngModel #Numberofseats="ngModel">
        <label>Price per seat:</label><input type="text" name="Priceperseat" id="Priceperseat" maxlength="20" required ngModel #Priceperseat="ngModel">
        <input type="button" value="+" (click)="addData(userData.value)">
    </div>
    <table>
    <div *ngFor="let type of types; let i = index">
      <tr border="1">
       <td> {{type.typesOfSeats}} </td>
       <td>  {{type.Numberofseats}}  </td>
       <td> {{type.Priceperseat}} </td>
       <td> <input type="button" value="X" (click)="deleteType(i)"> </td>
      </tr>
      
  </div>
</table>
<br><br>
<div class="panel panel-primary" style="border: 2px solid black">
    <div class="panel-heading"  style="text-align:center">
        <h4>Authorized Personnel</h4>
</div>
<br>
<div class="panel-body">
    <div class="form-group">
      <label>Name:</label><input type="text" class="form-control" name="UserName" id="UserName" placeholder="Name" maxlength="20" required [pattern]="textpattern" ngModel #UserName="ngModel"></div>
      <div *ngIf="UserName.errors"> 
        <div [hidden]="!(UserName.errors.required) || UserName.pristine" class="alert alert-danger"> 
          Name required.
        </div>		   
        <div [hidden]="!(UserName.errors.pattern)|| UserName.pristine" class="alert alert-danger"> 
          Name not valid.
        </div>	
        </div> 
    <div class="form-group">
      <label>Password:</label><input type="password" class="form-control" name="PassWord" id="PassWord" placeholder="Password" maxlength="20" required [pattern]="textpattern" ngModel #PassWord="ngModel"></div>
      <div *ngIf="PassWord.errors"> 
        <div [hidden]="!(PassWord.errors.required) || PassWord.pristine" class="alert alert-danger"> 
          PassWord required.
        </div>		   	
        </div> 
    
    <div class="form-group">
    <label>Mobile No:</label><input type="text" class="form-control" name="MobileNo" id="MobileNo" placeholder="Mobile No" maxlength="20" required [pattern]="mobilepattern" ngModel #MobileNo="ngModel"></div>
    <div *ngIf="MobileNo.errors"> 
      <div [hidden]="!(MobileNo.errors.required) || MobileNo.pristine" class="alert alert-danger"> 
        MobileNo required.
      </div>		   
      <div [hidden]="!(MobileNo.errors.pattern)|| MobileNo.pristine" class="alert alert-danger"> 
        MobileNo not valid.
      </div>	
      </div>
  
   <div class="form-group">
  <label>Email ID:</label><input type="text" name="perEmail" class="form-control" id="perEmail" placeholder="Email ID" required [pattern]="emailPattern" ngModel #perEmail="ngModel"></div>
  <div *ngIf="perEmail.errors"> 
    <div [hidden]="!(perEmail.errors.required) || perEmail.pristine" class="alert alert-danger"> 
      Email required.
    </div>			   
    <div [hidden]="!(perEmail.errors.pattern)|| perEmail.pristine" class="alert alert-danger"> 
      Email not valid.
    </div>	
 </div> 
 </div></div>
 
   
  <input type="submit" class="btn btn-success" value="Register">
  <input type="Reset" class="btn btn-success" value="Reset"(click)="reset(userData)">

</form>
<br>
<h3 *ngIf="isAdded">
  {{conformationString}}
</h3>


</div></div>
</div>

