
.inbox-mainbox{
  
border: 1px solid gray;
height: 600px;
}
.inbox-heading{
    background: #212121;

color: #FFF;
text-transform: uppercase;
border: 1px solid gray;
}
.inbox-messages{
    background: rgba(167, 224, 222, 0.842);
border: 1px solid gray;
}