
  
<!--<div class="menu">
        <ul class="nav navbar-nav">
   <li> <a (click)="home()">Home</a></li>

   <li><a (click)="registerOffice()" *ngIf="isAdmin">Register Co Office</a></li> 
        <li><a (click)="registerCompany()" *ngIf="isOffice">Register Company/Freelancer</a></li>
      <li> <a (click)="registerEmployee()" *ngIf="isCompany">Register Employee</a></li>
      </ul>
</div>

<a (click)="home()" class="btn btn-success">Home</a>

<a (click)="registerOffice()" *ngIf="isAdmin" class="btn btn-success">Register Co Office</a>
    <a (click)="registerCompany()" *ngIf="isOffice" class="btn btn-success">Register Company/Freelancer</a>
    <a (click)="registerEmployee()" *ngIf="isCompany" class="btn btn-success">Register Employee</a>
     
    <input type="button" *ngIf="islogedin" class="btn btn-success" (click)="logout()" value="Logout">
    <input type="button" *ngIf="!islogedin" class="btn btn-success" (click)="logout()" value="Login">-->
    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
               
              </div>
              <ul class="nav navbar-nav">
              
                <li> <a (click)="home()">Home</a></li>
                <li><a (click)="registerOffice()" *ngIf="isAdmin">Register Co Office</a></li> 
                <li><a (click)="registerCompany()" *ngIf="isOffice">Register Company/Freelancer</a></li>
                <li> <a (click)="registerEmployee()" *ngIf="isCompany">Register Employee</a></li>
                <li> <a (click)="payment()" *ngIf="isCompany">Payment</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu">
                          <li><a (click)="companyList()">Company List</a></li>
                          <li><a (click)="employeeList()"> Employee List</a></li>
                          <li><a (click)="officeList()">Office List</a></li>
                          <li><a (click)="paymentList()">Payment List</a></li>
                        </ul>
                      </li>



                <li><a *ngIf="islogedin"  (click)="logout()" value="Logout">Logout</a></li>
                <li><a *ngIf="!islogedin"  (click)="logout()" value="Login">Logout</a></li>
              </ul>
            </div>
          </nav>


          