
.inbox-mainbox{
border: 0px solid gray;
height: 600px;
}
.inbox-heading{
border: 0px solid gray;
height:34px;
font-size:18px;
text-transform: capitalize;
padding-top: 2px;
padding-left: 22px;
   background: #212121;
color: #FFF;
text-transform: uppercase;
}
.inbox-messages{
height: 43px;
border-bottom: 1px solid #ded7d7;
}
.inbox-messages:hover{
background: #f9f9f9;
}
.fromUser{
    margin-top:5px;
    margin-top: 6px;
border: 1px  #ded7d7;
border-radius: 50%;
width: 58px;
height: 55px;
padding-top: 19px;
padding-left: 9px;
background: #d9c002;
margin-left:7px;
font-size:11px;
}
.toUser{
   padding:0px;
   padding-top:8px;
}
.messageTo{
    text-transform: capitalize;
}
.message{
    font-size:9px;
}