
.inbox-mainbox{
    background: white;
border: 0px solid gray;
height: 600px;
}
.inbox-heading{
    background: #eceff1;
border: 0px solid gray;
height:34px;
font-size:18px;
text-transform: capitalize;
padding-top: 2px;
padding-left: 22px;
}
.inbox-messages{
    background: #eceff1;
border-bottom: 1px  #ded7d7;
height:70px;
}
.inbox-messages:hover{
background: white;
}
.fromUser{
    margin-top:5px;
    margin-top: 6px;
border: 1px  #ded7d7;
border-radius: 50%;
width: 58px;
height: 55px;
padding-top: 19px;
padding-left: 9px;
background: #d9c002;
margin-left:7px;
font-size:11px;
}
.toUser{
   padding:0px;
   padding-top:8px;
}
.messageTo{
    text-transform: capitalize;
}
.message{
    font-size:9px;
}