.messages-mainbox{
    background: #efefef;
border: 0px solid gray;
height: 490px;
overflow-y: scroll;
padding-top: 3px;
margin-top: 10px;
border-radius:10px;
}
.chat{
    margin-top: 10px;
    background: white;
}
.chatbox{
    height: 72px;
    width: 800px;
    margin-left: 1%;
    background: #efefef;
    border:0px;
    border-radius:10px;
}
.buttonStyle{
    width: 76px;
height: 72px;
border: 2px solid #000000;
color: #FFF;
background: #212121;
font-size: 16px;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
transition: all .4s ease 0s;
-webkit-transition: all .4s ease 0s;
-moz-transition: all .4s ease 0s;
-o-transition: all .4s ease 0s;
line-height: 52px;
border-radius: 15px;
letter-spacing: 0.10em;  
}
.user{
   text-align: right;
   margin-right: 10px;
   text-transform:capitalize;
}
.admin{
    margin-left: 10px;
    text-transform:capitalize;
}
.loginUser{
    text-align: right;
    border: 0px solid black;
width: 238px;
margin-left: 633px;
height: 46px;
border-radius: 10px;
margin-right: 2px;
margin-top: 15px;
background: #FFf;
padding-top: 12px;
padding-right: 21px;
position: relative;
color: #000;
}
.chatUser{
    text-align: left; 
    border: 0px solid black;
width: 238px;
height: 46px;
border-radius: 10px;
margin-left: 10px;
margin-top: 10px;
background: #727272;
padding-top: 12px;
padding-left: 21px;
position: relative;
color: #FFF;
}
/*.chatUser:after{
content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #727272;
left: 15px;
top: -9px; 
}
.loginUser:after{
content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 10px solid #727272 ;
right: 15px;
top: -9px; 
}*/

.msgChatUser{
    text-transform: uppercase;
font-size: 16px;
color: #727272;
font-weight: 700;
letter-spacing: 0.10em;
}
.user-indox{
border: 0px solid gray;
height: 490px;
padding-top: 3px;
margin-top: 10px;
margin-left: 15px;
border-radius:10px;
}