<div class="text-center menuResize">
  <app-menu></app-menu>
  <h2 class="msgChatUser">Message to {{ ChatUser }}</h2>
  
</div>
<div class="row">
    <div class="col-md-3">
    <div class="user-indox">
<app-messagelog></app-messagelog>
      </div>    
    </div>


    <div class="col-md-8">
    <div class="messages-mainbox">
      <!--<div *ngFor="let mymessages of loginUserMessages;let otherUserMessages of chatUserMessages">
        <div class="loginUser">{{loginUser}}:{{mymessages}}</div>
        
        <div  class="chatUser" >{{ChatUser}}:{{otherUserMessages}}</div>

      </div> -->
      <div *ngFor="let message of userMessages">
          <div *ngIf="message.isFrom">
            <div class="user"><b>{{message.fromUser}}</b></div>
          <div class="loginUser" >{{message.message}}</div>
          </div>
          <div *ngIf="!message.isFrom">
            <div class="admin"><b>{{message.fromUser}}</b></div>
          <div  class="chatUser" >{{message.message}}</div>
          </div>
  
      </div>
  

</div>
<div class="chat">
    <input class="chatbox" type="text" id="chat" ngModel required #chat="ngModel">
    <input type="button" class="buttonStyle" (click)="chat.valid && sendMessage(chat)" id="send" value="send">
  </div>

</div>
