<div class="jumbotron text-center">
  <h2>Payment</h2>
  <app-menu></app-menu>
</div>
<div class="container" >
<div class="row">
  <div class="col-md-8">
 <form id="formNewPayment" name="formNewPayment" #paymentData="ngForm" (ngSubmit)="paymentData.valid && pay(paymentData)">
  <div *ngIf="isAdmin" class="form-group">
    <label>Office:</label>
    <select (change)="updateCompanies(Office.value)" class="form-control" name="Office" id="Office" ngModel #Office="ngModel">
      <option [value]="null">-- select --</option>  
      <option *ngFor="let item of offices; let i = index" value="{{ item.id }}" >{{ item.OfficeName }}</option>
    </select>
  </div>
  <div *ngIf="isAdmin || isOffice" class="form-group">
    <label>Company :</label>
    <select class="form-control" name="Company" id="Company" ngModel #Company="ngModel">
      <option [value]="null">-- select --</option>      
      <option *ngFor="let item of companies; let i = index" value="{{ item.id }}" >{{ item.companyName }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Amount paid:</label><input type="text" class="form-control" name="Amountpaid" id="AmountPaid" placeholder="Amount paid" maxlength="20" required ngModel #AmountPaid="ngModel"></div>
    <div *ngIf="AmountPaid.errors"> 
      <div [hidden]="!(AmountPaid.errors.required) || AmountPaid.pristine" class="alert alert-danger"> 
        AmountPaid required.
      </div>		   
      </div> 
      <div class="form-group">
        <label>date of payment:</label><input type="Date" class="form-control" name="dateOfPayment" id="dateOfPayment" placeholder="Joining Date" required  ngModel #dateOfPayment="ngModel"> </div>
        <div *ngIf="dateOfPayment.errors"> 
            <div [hidden]="!(dateOfPayment.errors.required) || dateOfPayment.pristine" class="alert alert-danger"> 
              date of payment required.
            </div>
            </div> 

            <div class="form-group">
              <label>mode of payment:</label>
              <select class="form-control"  name="modeOfPayment" id="modeOfPayment" ngModel>
                <option [value]="null">-- select --</option> 
                <option value="Online">Online </option>
                <option value="Cash">Cash</option>
                <option value="Check">Check</option>
              </select>
              </div>
  
  <div class="form-group">
  <label>Transaction / Cheque number:</label><input type="text" class="form-control" name="TransCheqNO" id="TransCheqNO" placeholder="Transaction / Cheque number" maxlength="20" required ngModel #TransCheqNO="ngModel"></div>
  <div *ngIf="TransCheqNO.errors"> 
    <div [hidden]="!(TransCheqNO.errors.required) || TransCheqNO.pristine" class="alert alert-danger"> 
      Transaction / Cheque Number required.
    </div>		   
    </div>
        <br>
  <input type="submit" class="btn btn-success" value="submit">
  <input type="Reset" class="btn btn-success" value="Reset"(click)="reset(paymentData)">

</form>
<br>
<h3 *ngIf="isAdded">
  {{conformationString}}
</h3>


</div></div>
</div>
