<div class="jumbotron text-center">
  <h2>Company Registration</h2>
  <app-menu></app-menu>
</div>
<div class="container">

<div class="row">
  <div class="col-md-10">
 <form id="formNewComp" name="formNewComp" #compData="ngForm" (ngSubmit)="compData.valid && addNewComp(compData)">
  <div *ngIf="isAdmin" class="form-group">
    <label>Office:</label>
    <select class="form-control" name="Office" id="Office" ngModel #Office="ngModel">
      <option *ngFor="let item of offices; let i = index" value="{{ item.id }}" >{{ item.OfficeName }}</option>
    </select>
  </div>  
  <div class="form-group">
        <label></label>&nbsp;<input type="radio" id="radio-btn" name="CompanyType" required  ngModel  value="Company" [(ngModel)]="CompanyType">&nbsp;  Company
        &nbsp;<input type="radio"  name="CompanyType" id="radio-btn" required  ngModel  value="Freelancer" [(ngModel)]="CompanyType">&nbsp;  Freelancer
    </div>
    <div *ngIf="CompanyType=='Company'">
  <div class="form-group">
    <label>Company Name:</label><input type="text" class="form-control" name="CompanyName" id="CompanyName" placeholder="Company Name" maxlength="20" required [pattern]="textpattern" ngModel #CompanyName="ngModel"></div>
    <div *ngIf="CompanyName.errors"> 
      <div [hidden]="!(CompanyName.errors.required) || CompanyName.pristine" class="alert alert-danger"> 
        CompanyName required.
      </div>		   
      <div [hidden]="!(CompanyName.errors.pattern)|| CompanyName.pristine" class="alert alert-danger"> 
        CompanyName not valid.
      </div>	
      </div>
    </div>
      <div *ngIf="CompanyType=='Freelancer'">
      <div class="form-group">
        <label>FullName:</label><input type="text" class="form-control" name="FullName" id="FullName" placeholder="FullName" maxlength="20" required [pattern]="textpattern" ngModel #FullName="ngModel"></div>
        <div *ngIf="FullName.errors"> 
          <div [hidden]="!(FullName.errors.required) || FullName.pristine" class="alert alert-danger"> 
            FullName required.
          </div>		   
          <div [hidden]="!(FullName.errors.pattern)|| FullName.pristine" class="alert alert-danger"> 
            FullName not valid.
          </div>	
          </div>
      </div>
      <div class="form-group">
          <label>Joining Date:</label><input type="Date" class="form-control" name="joiningDate" id="joining Date" placeholder="Joining Date" maxlength="20" required  ngModel #joiningDate="ngModel" minDate="{{today}}"></div>
          <div *ngIf="joiningDate.errors"> 
              <div [hidden]="!(joiningDate.errors.required) || joiningDate.pristine" class="alert alert-danger"> 
                  Joining Date required.
              </div>
              <div [hidden]="!(joiningDate.errors?.minDate)" class="alert alert-danger"> 
                  Joining Date should not less than current date.
              </div>
              </div> 
             <div class="form-group">
          <label>Total Monthly Rent:</label><input type="text" class="form-control" name="Tmrent" id="Total monthly rent" placeholder="Total Monthly Rent" maxlength="20" required ngModel #Tmrent="ngModel"></div>
          <div *ngIf="Tmrent.errors"> 
              <div [hidden]="!(Tmrent.errors.required) || Tmrent.pristine" class="alert alert-danger"> 
                  Total monthly rent required.
              </div>		   	
              </div> 
          <div class="form-group">
                <label>Description:</label><input type="text" class="form-control" name="description" id="description" placeholder="Description" maxlength="20" required [pattern]="textpattern" ngModel #description="ngModel"></div>
                <div *ngIf="description.errors"> 
                  <div [hidden]="!(description.errors.required) || description.pristine" class="alert alert-danger"> 
                      description required.
                  </div>		   
                  <div [hidden]="!(description.errors.pattern)|| description.pristine" class="alert alert-danger"> 
                      description not valid.
                  </div>	
                  </div> 
                  <div *ngIf="CompanyType=='Company'">
                  <div class="form-group">
                    <label>Logo:</label>
                    <input type="file" id="LOGO" (change)="onFileChange($event)" #fileInput>
                    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
                  </div>
                  </div>
                  <br>
                  
      <div *ngFor="let seats of types;let i = index">
      <div class="form-group">
        <label>Types of seats:</label>
        <select  name="typesOfSeats" id="typesOfSeats" ngmodel>
          <option value="Openworkstation">Open workstation</option>
          <option value="PrivateCabin">Private Cabin</option>
          <option value="Semi-privateCabin">Semi-private cabin</option>
          <option value="ManagerialCabin">Managerial Cabin</option>
        </select>
          <label>Number of seats:</label><input type="text" name="Numberofseats" id="Numberofseats" maxlength="20" ngmodel>
         <!-- <label>Price per seat:</label><input type="text" name="Priceperseat" id="Priceperseat" maxlength="20" required ngModel #Priceperseat="ngModel">-->
         <input type="button" value="X" (click)="deleteType(i)">
        </div> 
        
      </div>
      <input type="button" value="+" (click)="addData(compData.value)">
           
    <!--   <table>
     <div *ngFor="let type of types; let i = index">
        <tr border="1">
         <td> {{type.typesOfSeats}} </td>
         <td>  {{type.Numberofseats}}  </td>
         <td> {{type.Priceperseat}} </td>
         <td> <input type="button" value="X" (click)="deleteType(i)"> </td>
        </tr>
        
    </div>
  </table> -->
  <br><br>


  
 
    
<div class="panel panel-primary" style="border: 2px solid black">
    <div class="panel-heading"  style="text-align:center">
        <h4 *ngIf="CompanyType=='Company'">Authorized Personnel</h4>
        <h4 *ngIf="CompanyType=='Freelancer'">Personal Information</h4>
 </div>

<br>
<div class="panel-body">
    <div *ngIf="CompanyType=='Company'">
    <div  class="form-group">
      <label>Name:</label><input type="text" class="form-control" name="UserName" id="UserName" placeholder="Name" maxlength="20" required [pattern]="textpattern" ngModel #UserName="ngModel"></div>
      <div *ngIf="UserName.errors"> 
        <div [hidden]="!(UserName.errors.required) || UserName.pristine" class="alert alert-danger"> 
          Name required.
        </div>		   
        <div [hidden]="!(UserName.errors.pattern)|| UserName.pristine" class="alert alert-danger"> 
          Name not valid.
        </div>	
        </div> 
      </div>
    
      
    
    <div class="form-group">
    <label>Mobile No:</label><input type="text" class="form-control" name="MobileNo" id="MobileNo" placeholder="Mobile No" maxlength="20" required [pattern]="mobilepattern" ngModel #MobileNo="ngModel"></div>
    <div *ngIf="MobileNo.errors"> 
      <div [hidden]="!(MobileNo.errors.required) || MobileNo.pristine" class="alert alert-danger"> 
        MobileNo required.
      </div>		   
      <div [hidden]="!(MobileNo.errors.pattern)|| MobileNo.pristine" class="alert alert-danger"> 
        MobileNo not valid.
      </div>	
      </div>
      <div class="form-group">
          <label>Email ID:</label><input type="text" name="perEmail" class="form-control" id="perEmail" placeholder="Email ID" required [pattern]="emailPattern" ngModel #perEmail="ngModel"></div>
          <div *ngIf="perEmail.errors"> 
            <div [hidden]="!(perEmail.errors.required) || perEmail.pristine" class="alert alert-danger"> 
              Email required.
            </div>			   
            <div [hidden]="!(perEmail.errors.pattern)|| perEmail.pristine" class="alert alert-danger"> 
              Email not valid.
            </div>	
         </div> 
         <div class="form-group">
          <label>Password:</label><input type="password" class="form-control" name="PassWord" id="PassWord" placeholder="Password" maxlength="20" required  ngModel #PassWord="ngModel"></div>
          <div *ngIf="PassWord.errors"> 
            <div [hidden]="!(PassWord.errors.required) || PassWord.pristine" class="alert alert-danger"> 
              PassWord required.
            </div>		   
            </div> 
            <div class="form-group">
              <label>Confirm Password:</label><input type="password" class="form-control" name="cnfPassWord" id="cnfPassWord" placeholder="confirm PassWord" maxlength="20" required  ngModel #cnfPassWord="ngModel"></div>
              <div *ngIf="cnfPassWord.errors"> 
                <div [hidden]="!(cnfPassWord.errors.required) || cnfPassWord.pristine" class="alert alert-danger"> 
                  Confirm PassWord required.
                </div>		   
                </div> 
                <div [hidden]="(PassWord.value==cnfPassWord.value) || cnfPassWord.pristine" class="alert alert-danger"> 
                    Confirm PassWord didnt match.
                  </div>
  
   
 </div></div>

 <br>
   
  <input type="submit" class="btn btn-success" value="Register">
  <input type="Reset" class="btn btn-success" value="Reset"(click)="reset(compData)">

</form>
<br>
<h3 *ngIf="isAdded">
  {{conformationString}}
</h3>


</div></div>

</div>


