<div class="jumbotron text-center">
  <h2>Employee Registration</h2>
  <app-menu></app-menu>
</div>
<div class="container" >
<div class="row">
  <div class="col-md-8">
 <form id="formNewUser" name="formNewUser" #userData="ngForm" (ngSubmit)="userData.valid && addNewUser(userData)">
  <div class="form-group">
    <label>Name:</label><input type="text" class="form-control" name="FullName" id="FullName" placeholder="FullName" maxlength="20" required [pattern]="textpattern" ngModel #FullName="ngModel"></div>
    <div *ngIf="FullName.errors"> 
      <div [hidden]="!(FullName.errors.required) || FullName.pristine" class="alert alert-danger"> 
        Name required.
      </div>		   
      <div [hidden]="!(FullName.errors.pattern)|| FullName.pristine" class="alert alert-danger"> 
        Name not valid.
      </div>	
      </div> 
  <div class="form-group">
    <label>Password:</label><input type="text" class="form-control" name="PassWord" id="PassWord" placeholder="PassWord" maxlength="20" required ngModel #PassWord="ngModel"></div>
    <div *ngIf="PassWord.errors"> 
      <div [hidden]="!(PassWord.errors.required) || PassWord.pristine" class="alert alert-danger"> 
        PassWord required.
      </div>		   	
      </div> 
  
  <div class="form-group">
  <label>Mobile No:</label><input type="text" class="form-control" name="MobileNo" id="MobileNo" placeholder="Mobile No" maxlength="20" required [pattern]="mobilepattern" ngModel #MobileNo="ngModel"></div>
  <div *ngIf="MobileNo.errors"> 
    <div [hidden]="!(MobileNo.errors.required) || MobileNo.pristine" class="alert alert-danger"> 
      Mobile Number required.
    </div>		   
    <div [hidden]="!(MobileNo.errors.pattern)|| MobileNo.pristine" class="alert alert-danger"> 
      Mobile Number not valid.
    </div>	
    </div>

 <div class="form-group">
<label>Email:</label><input type="text" name="Email" class="form-control" id="Email" placeholder="Email" required [pattern]="emailPattern" ngModel #Email="ngModel"></div>
<div *ngIf="Email.errors"> 
  <div [hidden]="!(Email.errors.required) || Email.pristine" class="alert alert-danger"> 
    Email required.
  </div>			   
  <div [hidden]="!(Email.errors.pattern)|| Email.pristine" class="alert alert-danger"> 
    Email not valid.
  </div>	
</div> 

     <br>
  <input type="submit" class="btn btn-success" value="Register">
  <input type="Reset" class="btn btn-success" value="Reset"(click)="reset(userData)">

</form>
<br>
<h3 *ngIf="isAdded">
  {{conformationString}}
</h3>


</div></div>
</div>