
.co-working-offices{
    margin-top: 70px;
}
.search-box{
    padding: 10px 10px 20px 10px;
    background: #fff;
    opacity: 0.8;
}
.Our-Partner{
    margin-right: -30px;
    padding: 7px;
    margin-top: 45px;
    opacity: 0.5;
    background: #000;
}
.Our-Partner h4{
    font-size: 18px;
    margin-left: 20px;
    color: #fff;
}
.Our-Partner h6{
    font-size: 14px;
    margin-left: 20px;
    color: #fff;
}
.select{
    margin:5px;
    width:100%;
}
.btn-success{
    color: #fff;
    background: #d9c002;
    border-color: #d9c002;
    margin-left: 45px;
}
ul{
    list-style: none;
}
.office-address{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;  
    margin-bottom: 6px;
    text-align: center;
    
}
.office-list-details{
    margin-top: 5px;
    font-size:20px;
    text-transform:capitalize;
    font-weight: bold;
    color: #b2a10d;
    text-align: center;
    
}
.office-cost{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;  
    margin-bottom: 6px;
}
.Featured-spaces {
      margin-left: 20px
}

.Featured-spaces h1{
     font-size:20px;
    padding-top: 15px;	
    color:#000; 
    letter-spacing: 1.25px;
}
.hr{
	border-top: 2px solid #d9c002;
    font-weight: 700;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
.section-head {
    margin-bottom: 20px;
}
.section-head h4 {
    font-size: 30px;
    line-height: 30px;
    font-family: Crimson Text;
    font-weight: 600;
    margin: 16px 0 1px;
    color: #212121;
}
.padding-top-80 {
    padding-top: 80px;
}

.icon-teaser2-img {
    position: relative;
    top: -90px;
}
.icon-teaser2 {
    padding-left:50px;
    position: relative;
    margin-bottom: 70px;
    padding-top: 23px;
}



.icon-teaser2 span {
    width: 70px;
    height: 70px;
    border: 2px solid #212121;
    color: #212121;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 66px;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.icon-teaser2 h4 {
    font-size: 16px;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}
.icon-teaser2 p {
    padding: 10px 0 0px;
    font-size: 13px;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro';
    color: #727272;
    line-height: 25px;
}
.paper-plane li{
    font-size: 16px;
     letter-spacing: 0.10em; 
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    color: #212121;
    font-family: 'Source Sans Pro';
}
