<div class="menuResize text-center">
  <app-menu></app-menu>
 <!--  <h2 class="office-heading">{{office.OfficeName}}</h2> -->
  
</div>

<div class="container">
  <section>
    <div class="row">
             
                  <div class="col-md-8">
              <div class="row">

                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     <!-- Indicators    -->
                     <ol class="carousel-indicators" >
                     <li data-target="#myCarousel" data-slide-to="0" [ngClass]="{active: i===0}"  *ngFor="let image of office.officeImages; let i = index"></li>
                     
                  <!--   <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li> -->
                     </ol>
                     
                     <!-- Wrapper for slides -->
                     <div class="carousel-inner">


                        <div class="item" [ngClass]="{active: i===0}"  *ngFor="let image of office.officeImages; let i = index">
                        <div class="col-md-12">
                            <img src="{{ image.imagePath }}" alt ="" style="width:100%; height:270px;">
                        </div>
                        </div>

                        <!--
                   <div class="item">
                        <div class="col-md-12">
                            <img src="/assets/meeting_room.jpg" alt ="" style="width:100%; height:155px;">
                        </div>
                     </div>
                     <div class="item">
                        <div class="col-md-12">
                            <img src="/assets/meeting_room.jpg" alt ="" style="width:100%; height:155px;">
                        </div>
                     </div>
                    -->

                     </div>
                    </div>
            <div class="row">
            <div class="col-md-3">
                 <img src="{{office.officeLogo}}"  alt ="" style="height:60px;margin: 17px;">
            </div>
            <div class="col-md-9">
            <div class="office-list-details" style="font-size:20px;">{{office.OfficeName}}</div>
             <div class="office-address">{{office.Address}},{{office.Location}},{{office.City}}</div>
             
             <div class="office-description">{{office.Description}}</div>
            </div>
            </div>
              <div class="col-md-12">
             <div class="col-md-12">
            <div *ngFor="let officeSeat of office.officeSeats; let i = index" class="row">
                <div class="col-md-7 office-cost">
                    <b> {{ officeSeat.typeOfSeats}} </b>
                </div>
                <div class="col-md-5 office-cost">
                    <i class='fa fa-inr'></i>{{ officeSeat.pricePerSeats}} 
                </div>              
            </div>
            <br>
               <div class="section-head"><h4>Amenities</h4></div>
               <div class="row">
                <div *ngFor="let amenities of office.officeAmenities; let i = index">
                                
                                
                                <div class="col-md-4">
                                    <div class="icon-teaser2">
                                        <span class="fa fa-paper-plane"></span>
                                        <ul class="paper-plane" style="padding-left: 9px;">
                                            <li> {{ amenities.amenities}} </li>
                                        </ul>
                                    </div>
                                    </div>
                                   
                                  
                                
                              

                </div>
            </div>  
              </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         
      </div>
  
  </div>
</section>
</div>
