/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
.btn-success{
 color: #FFF !important;
}
.co-working-offices{
  margin-top: 100px;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }
  #logo-container{
    margin: auto;
    margin-bottom: 10px;
    width: 241px;
    height: 80px;
    background-repeat: no-repeat;
    background-image:url('assets/cospaze-logo.png');
  }
.search-cospace{
  background-image:url('assets/cospaze.jpg');
  width:100%;
   height:300px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
  
  table   { border-collapse: collapse;
    width:100%;
   height: 100%; }

tr { border: 1px solid black }
td { border: 1px solid black;
  width:100% }

  container {
    border: 1px solid black !important;
    width:100% !important;
  }
  .removePadding{
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.paddingContainer{
padding-left: 0px !important;
    padding-right: 0px !important;
}
.autowidth th,.autowidth td{
  width: auto;
}
.menuResize{
        padding-top: 5px;
    padding-bottom: 5px;
}
.banner{
  background: url(assets/topBanner.jpg);
  height: 80px;
  opacity: 0.8;
}
.officeSeats{
    width:88%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    margin-left: 1px;
    margin-right: 7px;
    margin-bottom: 14px
}
