
.co-working-offices{
    margin-top: 100px;
}
.search-box{
    padding: 10px 10px 10px 10px;
    background: #fff;
}
.Our-Partner{
    margin-right: -30px;
    padding: 7px;
    margin-top: 30px;
    color: #fff;
    background: #000;
}
.select{
    margin:2px;
    width:100%;
}
.btn-success{
    color: #fff;
    background: #d9c002;
    border-color: #d9c002;
    margin-left: 45px;
}
ul{
    list-style: none;
}
.office-address{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
   
    
}
.office-list-details{
    margin-top: 5px;
    font-size:20px;
}



