<div class="search-cospace">
<div class="row">
  <div class="co-working-offices">
      <div class="col-md-1"></div>
      
    <div class="col-md-12">
        <div class="Our-Partner">
          <h4>Our Partner co-working offices</h4>
          <p>Work out of any of our partner co-working offices
              Free for 2 days*</p>
        </div>
      </div> 
      
      <div class="col-md-12">
        <div class="search-box">
          <form id="formSearch" name="formSearch" #searchData="ngForm" (ngSubmit)="searchData.valid && search(searchData.value)">
                
                
               <!-- <select (change)="updateLocations(City.value)" name="City" id="City" ngModel #City="ngModel"  class="select">
                     <option disabled  [value]="null">Select City</option> 
                   <option *ngFor="let item of cities; let i = index" value="{{ item.id }}">{{ item.city }}</option>
                    </select>-->
                 <input ngx-google-places-autocomplete  name="Location" id="Location" ngModel #Location="ngModel" class="select" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                   <!--  <option disabled [value]="null">select Location </option>
                     <option *ngFor="let item of loctaionsByCity; let i = index" value="{{ item.id }}" >{{ item.location }}</option>
                   </select>-->
                  
                    <select  name="typesOfSeats" id="typesOfSeats" ngModel  #typesOfSeats="ngModel"  class="select">
                        <option disabled [value]="null">typesOfSeats</option>
                      <option value="Openworkstation">Open workstation</option>
                      <option value="PrivateCabin">Private Cabin</option>
                      <option value="Semi-privateCabin">Semi-private cabin</option>
                      <option value="ManagerialCabin">Managerial Cabin</option>
                    </select>
             <input type="text" name="NoSeats" id="NoSeats" placeholder="NoSeats" maxlength="20"  ngModel #NoSeats="ngModel" class="select">
             <input type="submit" class="btn btn-success " value="Search">
           
           
              </form>
             </div>
            </div>
             <div class="col-md-1"></div>
            </div>
</div>
  </div>
 <!-- <section>
    <div class="Featured-spaces">
      <h5>Featured spaces</h5>
      <hr class="hr">
    </div>
    <div class="container process-item">
        <div class="row" *ngFor="let item of list; let i = index"> 
          <div class="col-md-4">
            <img src="{{ item.officeImages[0].imagePath}}" *ngIf="item.officeImages.length>0" alt ="" style="width:100%; height:155px;margin-bottom: 20px;">
            <img src="/assets/meeting_room.jpg" *ngIf="item.officeImages.length<1" alt ="" style="width:100%; height:155px;">
          </div>
          <div class="col-md-8">
            <div class="process-inner">
              <span>01</span>
              <h4 class="office-list-details"><a (click)="officeDetails(item.id)" style="cursor: pointer; color:#000">{{item.OfficeName}}</a></h4>
              <p>{{item.Address}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>-->
   <!-- <div class="row">
             
                  <div class="col-md-6" *ngFor="let item of list ; let i = index">
              <div class="row">
            <div class="col-md-12"><!--{{ officeImages.imagePath}}
                <img src="{{ item.officeImages[0].imagePath}}" *ngIf="item.officeImages.length>0" alt ="" style="width:100%; height:155px;">
                <img src="/assets/meeting_room.jpg" *ngIf="item.officeImages.length<1" alt ="" style="width:100%; height:155px;">
            </div>
            <div class="col-md-12 officeList">
            <div class="office-list-details" style="font-size:20px;"><a (click)="officeDetails(item.id)" style="cursor: pointer;">{{item.OfficeName}}</a></div>
             <div class="office-address">{{item.Address}}</div>
             <div class="office-address">{{item.Location}},{{item.City}}</div><br>
             <div class="col-md-12">
 <div *ngFor="let officeSeat of item.officeSeats; let i = index">
                <div class="col-md-7 office-cost">
                 <b> {{ officeSeat.typeOfSeats}} </b>
                </div>
               <div class="col-md-5 office-cost">
                <i class='fa fa-inr'></i>{{ officeSeat.pricePerSeats}} 
                </div>

</div>
                
                </div>
               </div>
               </div>
               </div>
  
  </div>-->



 
  <!--<ul>
      <li *ngFor="let item of list; let i = index">
        <div class="office-list-details" style="font-size:30px">OfficeName:-{{item.OfficeName}}</div>
      
           <div class="office-list-details">Address:-{{item.Address}}</div> 
            <div class="office-list-details">Location:-{{item.Location}}</div>
           <div class="office-list-details">City:-{{item.City}}</div> 
      
      </li>
    </ul>-->