
.co-working-offices{
    margin-top: 70px;
}
.search-box{
    padding: 10px 10px 20px 10px;
    background: #fff;
    opacity: 0.8;
}
.Our-Partner{
    margin-right: -30px;
    padding: 7px;
    margin-top: 45px;
    background: #000;
}
.Our-Partner h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    margin-left: 20px;
    color: #fff;
}
.Our-Partner p{
    font-size: 13px;
    margin-left: 20px;
    color: #727272;
    font-family: 'Source Sans Pro';
    line-height: 25px;
}
.select{
    margin:5px;
    width:100%;
}
.btn-success{
    color: #fff;
    background: #d9c002;
    border-color: #d9c002;
    margin-left: 45px;
}
ul{
    list-style: none;
}
.office-address{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;  
    margin-bottom: 6px;
    text-align: center;
    
}
.office-list-details{
    margin-top: 5px;
    font-size:20px;
    text-transform:capitalize;
    font-weight: bold;
    color: #b2a10d;
    text-align: center;
    
}
.office-cost{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;  
    margin-bottom: 6px;
}
.Featured-spaces {
      margin-left: 20px
}

.Featured-spaces h5{
    padding-top: 15px;
    font-size: 16px;
    color: #727272;
    font-weight: 700;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    /* font-size:20px;
    padding-top: 15px;	
    color:#000; 
    letter-spacing: 1.25px;*/
}
.hr{
	border-top: 2px solid #d9c002;
    font-weight: 700;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}
.officeList{
    min-height:230px;
}





.process-item {
    margin-bottom: 30px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.process-item .process-inner {
    padding-left: 200px;
    position: relative;
}
.process-item .process-inner:after {
    content: "";
    border: 1px solid #fff;
    height: 3px;
    width: 170px;
    background: #727272;
    position: absolute;
    top: 20px;
    left: -65px;
}
.process-item .process-inner span {
    background: #000000;
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    display: table;
    position: absolute;
    top: 0;
    left: 70px;
}
.process-item .process-inner h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 53px;
    position: relative;
    display: table;
}
h1, h2, h3, h4, h5, h6 {
    color: #212121;
    font-family: 'Source Sans Pro';
}
p {
    font-size: 13px;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro';
    color: #727272;
    line-height: 25px;
}
.process-item .process-inner h4:after {
    content: "";
    height: 2px;
    width: 52%;
    background: #212121;
    position: absolute;
    bottom: -29px;
    left: 0;
}