
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="assets/cospaze-logo.png" alt="cospace" style="width:100%;height: 120px;">
        </div>
          <div class="text-center img-circle">
            <img src="assets/profile.jpg" alt="cospace" class="img-circle">
          </div>
        <div class="logo-description">
            <h1> welcome {{userDetailsObj?.name}}</h1>
            <p>Company</p>
            <h1><a href="#">Edit Profile</a></h1>	
        </div>
      </div>	
      <div class="col-md-6">
          <div class="New-Members-Announcement">
            <h1>New Members Announcement</h1>
            <app-menu></app-menu>
         </div>	
      </div>
      <div class="col-md-3">
          <div class="menu-background">
          <div class="menu-mainbox">
             <h1 class="menu">Payment Status</h1>
            <div class="menu-description">
               <ul style="list-style:none" id="responsive">
                <li>Total Rent<span> RS 20000</span></li>
                <li>Amount Paid<span>RS 10000</span></li>
                <li>Due <span>RS 10000</span></li>
                <li>Due Date<span>05/04/2018</span></li>
              </ul>	
            </div>
             </div>	
         </div>
      </div>
    </div>
  
 
    <div class="row">
        <div class="col-md-3">

            <div class="member-mainbox">
                <h1 class="member-tittle">Members</h1>
                <hr class="hr">
                <div class="member-box-space member-box" *ngFor="let item of memberList; let i = index">
                    <div class="text-center">
                      <img src="assets/members/{{ item.companyLogo }}" class="member-logo" />
                    </div>
                    <h1 style=" font-size:20px;margin-left: 50px;">{{ item.companyName }}</h1>
                    <p style=" font-size:15px;margin-left: 50px;">{{ item.description }}</p>
                  </div>
                
               
            </div>


          </div>
          <div class="col-md-6">


            <app-search></app-search>

            <!--

              <div class="sprit-box">
                  <div class="sprit-logo-image">
                  <img src="src/images/image-slider.jpeg" alt="cospace" class="sprit-logo text-center">
                 <div class="sprit-heading">
                    <h1>The Sprit Of First Among Equals</h1>
                    <p>One lucky bride a month wins a sponsored look for one of their wedding functionsYour sponsored look comprise of a beautiful outfit,accessories and jewelry to go along.</p>
                 </div>
               </div>	
                <div class="likes">
                  
                  <div class="likes-user-logo">
                       <img src="src/images/image-slider.jpeg" alt="cospace">
                    <div class="user"> <h1 style="font-size:20px;color:#adadef;margin-left:10px;">vivak Agrawal <span style="color:#ebe0e0;padding: 10px;">.4 mutual friends</span></h1>
                     <p style="font-size:10px;color:black;margin-left:10px;"> missinu u lots and lots my little friends |when r u commimy to meet</p></div>
                     <h1 style="font-size:20px;margin-left: 20%;color:#adadef;">likes<span style="margin-left:10px;"> reply</span> <span style="margin-left:10px; color:#000;">40w</span></h1>
                  </div>
                  <div class="likes-user-logo">
                       <img src="src/images/image-slider.jpeg" alt="cospace">
                    <div class="user"> 
                    <h1 style="font-size:20px;color:#f4f4f2;">Comments on these post.... </h1>
                    <div class="" style=" margin-left: 75%;">
                    <i class="fa fa-frown-o" style="padding: 5px;"></i><i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                   </div>
                     
                  </div> 
                       
                     
                    
                </div>
              </div>

            -->


            </div>
            <div class="col-md-3">

                <div class="offering-services-mainbox">
                    <h1 class="offering-services-tittle">Offerings/Services</h1>
                    <hr class="hr">
                    <p class="text-center"><a (click)="open()"><u>(list yourself)</u></a></p>
                   <div class="list-yourself">
                    <ul style="list-style:none" >
                   
                     <li *ngFor="let item of serviceList; let i = index">{{ item.serviceName }}-{{item.name}}</li>
                     
                 
                   </ul>
                   </div>
               </div>

              </div>
   </div>

   
   <app-listyourself id="listme" [(visible)]="showDialog">
      <h5>Enter your detalis</h5>
      <form id="formNewData" name="formNewData" #yourData="ngForm" (ngSubmit)="yourData.valid && addYourdetails(yourData)">
        

          <div class="form-group">
            <label>Service:</label>
            <select class="form-control" name="Service" id="Service" ngModel #Service="ngModel">
              <option value="1">Web developer</option>
              <option value="2">Photographer</option>
              <option value="3">Marketing</option>
            </select>
          </div> 
          
      <br>
      <input type="cancel"  (click)="showDialog = !showDialog" class="btn btn-success" value="cancel" style="margin-left: 55%;padding: 6px 0px;">
     <input type="submit" class="btn btn-success" value="submit" style="float:right">
  
</form>
<br>
<h3 *ngIf="isAdded">
  {{conformationString}}
</h3>
 <!-- <button (click)="showDialog = !showDialog" class="btn">Close</button>-->

   
    </app-listyourself> 