<body style="background-color: #ccc; background-repeat: no-repeat; background-size: cover;">
<div class="container paddingContainer">
    <div class="cospace-header-banner">
        <h4>QUEST OFFICES PVT LTD</h4>
        <p>Quest Offices offers you an office option, ready to use plug and play workspaces, which lets you set up and work right away</p>
      </div>
    <div class="row">
      
     <!-- <div class="col-md-3 removePadding">
        <div class="text-center">
          <img src="assets/cospaze-logo.png" alt="cospace" style="width:100%;height: 120px;">
        </div>
          <div class="text-center img-circle">
            <img src="assets/profile.jpg" alt="cospace" class="img-circle">
          </div>
        <div class="logo-description">
            <h1> welcome {{userDetailsObj?.name}}</h1>
            <p><i class="fa fa-envelope-square"></i> <a (click)="goToinbox()">Inbox</a></p>
            <p>Company</p>
           <!--  <h1 *ngIf="islogedin"  (click)="logout()" value="Logout"><a href="#" style="font-size: 15px;">Logout</a></h1>
            <h1 *ngIf="!islogedin"  (click)="logout()" value="Login"><a href="#" style="font-size: 15px;">Logout</a></h1>
           <h1><a href="#">Edit Profile</a></h1>	--
        </div>
      </div>	-->
      <div class="col-md-9">
          <div class="New-Members-Announcement">
            <app-feedback></app-feedback>
            <!--<h1>Suggestions & Requests</h1>
            <p>Is there anything you require?</p><p>Please submit your requests here and let us know how we can serve you better</p>
            <textarea name="message" value="" class="input-text" placeholder="Suggestion" [pattern]="textpattern" ngModel #message="ngModel"></textarea><br>
            <button class="search-button" (click)="open()">Submit</button>  -->         
         </div>	
      </div>
      <div class="col-md-3 removePadding">
          <div [hidden]="isEmployee">
          <div class="menu-background shadowEffect">
              
          <div class="menu-mainbox removeBorder"  >
             <h4 class="menu" *ngIf = "isCompany">Payment Status</h4>
               <h4 class="menu" *ngIf ="!isCompany">Latest Updates</h4>
            <div class="menu-description" *ngIf ="isCompany">
              
               <ul style="list-style:none" id="responsive">
                <li>Total Rent<span><i class='fa fa-inr'></i> {{userDetailsObj?.company.total_monthly_rent}}</span></li>
                <li>Amount Paid<span><i class='fa fa-inr'></i>  {{userDetailsObj?.payment.amountPaid}}</span></li>
                <li>Due <span><i class='fa fa-inr'></i> {{userDetailsObj?.payment.due}}</span></li>
                <li>Due Date<span>{{userDetailsObj?.payment.dueDate}}</span></li>
              </ul>	
            </div>
             <div class="menu-description" *ngIf ="!isCompany">
              
               <ul style="list-style:none" id="responsive">
                <li>New office space near koramagala</li>
                <li>Get free rewards on monthly rent payment</li>
                
              </ul>	
            </div>
            </div>
             </div>	
         </div>
      </div>
    
    </div>
  
    <app-menu></app-menu>
    <div class="row" style="background-color: #efefef;margin:0px;">
        <div class="col-md-3 removePadding">

            <div class="member-mainbox">
                <h4 class="member-tittle"><span>Members</span></h4>
                <hr class="hr">
                <div class="member-box-space member-box" *ngFor="let item of memberList; let i = index">
                   <!-- <div class="text-center">
                      <img src="{{ item.companyLogo }}" class="member-logo" />
                    </div>-->
                    <div class="members-heading ">
                      <h4>{{ item.companyName }}</h4>
                      <p>{{ item.description }}</p>
                    </div>
                  </div>
                
               
            </div>
           <a href="membersDetails" style="float: right;">View More</a>

          </div>
          <div class="col-md-6 paddingContainer" style="background:#fdfdfd;overflow: hidden;">

           
            <app-search></app-search>
            
            <!--

              <div class="sprit-box">
                  <div class="sprit-logo-image">
                  <img src="src/images/image-slider.jpeg" alt="cospace" class="sprit-logo text-center">
                 <div class="sprit-heading">
                    <h1>The Sprit Of First Among Equals</h1>
                    <p>One lucky bride a month wins a sponsored look for one of their wedding functionsYour sponsored look comprise of a beautiful outfit,accessories and jewelry to go along.</p>
                 </div>
               </div>	
                <div class="likes">
                  
                  <div class="likes-user-logo">
                       <img src="src/images/image-slider.jpeg" alt="cospace">
                    <div class="user"> <h1 style="font-size:20px;color:#adadef;margin-left:10px;">vivak Agrawal <span style="color:#ebe0e0;padding: 10px;">.4 mutual friends</span></h1>
                     <p style="font-size:10px;color:black;margin-left:10px;"> missinu u lots and lots my little friends |when r u commimy to meet</p></div>
                     <h1 style="font-size:20px;margin-left: 20%;color:#adadef;">likes<span style="margin-left:10px;"> reply</span> <span style="margin-left:10px; color:#000;">40w</span></h1>
                  </div>
                  <div class="likes-user-logo">
                       <img src="src/images/image-slider.jpeg" alt="cospace">
                    <div class="user"> 
                    <h1 style="font-size:20px;color:#f4f4f2;">Comments on these post.... </h1>
                    <div class="" style=" margin-left: 75%;">
                    <i class="fa fa-frown-o" style="padding: 5px;"></i><i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                   </div>
                     
                  </div> 
                       
                     
                    
                </div>
              </div>

            -->


            </div>
            <div class="col-md-3 removePadding">

                <div class="offering-services">
                    <h4 class="offering-services-tittle"><span>Offerings/Services</span></h4>
                    <hr class="hr">
                    <p class="text-center"><a  (click)="open()"><u class="message-list">List YourSelf</u></a></p>
                   <div class="list-yourself">
                    <ul class="list-name" style="list-style:none" >
                   
                          <li *ngFor="let item of serviceList; let i = index"><a (click)="messages(item.name,item.userId)" style="cursor: pointer;">{{ item.serviceName }}-{{item.name}}</a> </li>
                     
                   </ul>
                   </div>
               </div>
              </div>
              
   </div>


   <section class="featured-section">
      <div class="Featured-spaces">
        <h5>Featured spaces</h5>
        <hr class="hr-row">
      </div>

  <div *ngFor="let item of list; let i = index; even as isEven; odd as isOdd;">
  <div class="container process-item" *ngIf = "isEven">
      <div class="row"> 
        <div >
            <div class="col-md-4">
                <img src="{{ item.officeImages[0].imagePath}}" *ngIf="item.officeImages.length>0" alt ="" style="width:100%; height:155px;margin-bottom: 30px;">
                <img src="/assets/meeting_room.jpg" *ngIf="item.officeImages.length<1" alt ="" style="width:100%; height:155px;">
              </div>
          <div class="col-md-8">
            <div class="process-inner">
              <span>{{ i+1 }}</span>
              <h4 class="office-list-details"><a (click)="officeDetails(item.id)" style="cursor: pointer; color:#000">{{item.OfficeName}}</a></h4>
              <!--<h4>{{item.OfficeName}}</h4>-->
              <p>{{item.Address}}</p>
            </div>
          </div>
        </div>
     </div>
     </div>
       <!-- <div class="container process-item-left" *ngIf = "isOdd">
            <div class="row"> 
        <div >
            <div class="col-md-4 col-md-push-7">
                <img src="{{ item.officeImages[0].imagePath}}" *ngIf="item.officeImages.length>0" alt ="" style="width:100%; height:155px;margin-bottom: 30px;">
                <img src="/assets/meeting_room.jpg" *ngIf="item.officeImages.length<1" alt ="" style="width:100%; height:155px;">
              </div> 
          <div class="col-md-8 col-md-pull-5">
            <div class="process-inner">
                <span>{{ i+1 }}</span>
              <h4 class="office-list-details"><a (click)="officeDetails(item.id)" style="cursor: pointer; color:#000">{{item.OfficeName}}</a></h4>
              <div class="clearfix"></div>
              <p>{{item.Address}}</p>
            </div>
          </div>
        </div>
        

      </div>
    </div>-->
  </div>
  </section>    
   
   <app-listyourself id="listme" [(visible)]="showDialog">
      <h5>Enter your detalis</h5>
      <form id="formNewData" name="formNewData" #yourData="ngForm" (ngSubmit)="yourData.valid && addYourdetails(yourData)">
        

          <div class="form-group">
            <label>Service:</label>
            <select class="form-control" name="Service" id="Service" ngModel #Service="ngModel">
                <option *ngFor="let item of services; let i = index" value="{{item.id}}">{{ item.serviceName }}</option>
               </select>
          </div> 
          
      <br>
      <input type="cancel"  (click)="showDialog = !showDialog" class="btn btn-success" value="cancel" style="margin-left: 50%;padding: 6px 0px;">
     <input type="submit" class="btn btn-success" value="submit" style="float:right">
  
</form>
<br>
<h3 *ngIf="isAdded">
  {{conformationString}}
</h3>
 <!-- <button (click)="showDialog = !showDialog" class="btn">Close</button>-->
 
   
    </app-listyourself> 



    
  </div>
</body>